
body {
    font-family: Roboto, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background: bisque;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 200px;
    height: 50px;
    background: lightblue;
    cursor: move;
  
}
