<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='room_styles.css') }}">
</head>
<body>





    <button class="action-button"> 
        <a class="action-button-link" href="{{ url_for('home') }}">Back</a>
    </button>
    <button class="action-button"> Save </button>
    <div class="header"> 
        <h2>{{ data.name }}</h2>
    </div>
    <button class="add-post-button add-post-js">+</button>
    <div class="post-spawn post-spawn-js" ondrop="drop(event)" ondragover="drag_over(event)"></div>



    <script src="{{ url_for('static', filename='room.js') }}"></script>   
    <script src="{{ url_for('static', filename='personalscript.js') }}"></script>
    <script>
        <!-- get all posts data onto javascript !-->
        const posts = {{ data['containers'] | tojson }};
    </script>

</body>
</html>