<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-header">
        <h1>Project Name</h1>
    </div>

    <div class="main-container">

        <div class="choice-room-container">
                <h3 class="add-room-header">Create New Room</h3>
                <div class="get-room-data">
                    <form action="/create_room" method="POST" class="room-form">
                        <input type="text" placeholder="Room Name" class="room-input" name="room-id">
                        <button class="add-room-button" type="submit">+</button>
                    </form>
                </div> 
        </div>

        <div></div> <!-- Empty div do not delete -->

        <div class="choice-room-container">
            <h3 class="add-room-header">Enter Room</h3>
            <form action="/enter_room" method="POST" class="room-form">
                <input type="text" placeholder="Room ID" class="room-input" name="room-id">
                <button class="enter-room-button" type="submit">Enter</button>
            </form>

        </div>

    </div>



</body>
</html>