<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
    <title>Personalized Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='personalstyles.css') }}">
    <!-- <script src="../../scripts/personalscript.js"></script> !-->
</head>
<body ondragover="drag_over(event)" ondrop="drop(event)">
    <button class="action-button"> 
        <a class="action-button-link" href="{{ url_for('home') }}">Back</a>
    </button>
    <button class="action-button"> Save </button>
    <div id="box1" class="box" draggable="true" ondragstart="drag_start(event)">
        <div class="image"> 
            <input type="file">     
        </div>
        <div class="caption" contenteditable="true">edit me</div>
    </div>
    <div id="box2" class="box" draggable="true" ondragstart="drag_start(event)">draggable</div>

    <div class="header"> 
        <h2>Janurary</h2>
    </div>
    <script src="{{ url_for('static', filename='personalscript.js') }}"></script>
</body>
</html>