<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalized Page</title>
    <link rel="stylesheet" href="../../styles/personalstyles.css">
    <script src="../../scripts/personalscript.js"></script> 
</head>
<body ondragover="drag_over(event)" ondrop="drop(event)">
    <div id="box1" class="box" draggable="true" ondragstart="drag_start(event)">this is a draggable box</div>
    <div id="header"> 
        <h2>Janurary</h2>
    </div>
</body>
</html>