<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='personalstyles.css') }}">
</head>
<body>
    <button class="action-button"> 
        <a class="action-button-link" href="{{ url_for('home') }}">Back</a>
    </button>
    <button class="action-button"> Save </button>
    <div class="header"> 
        <h2>January</h2>
    </div>
    
</body>
</html>