<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ room_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='room_styles.css') }}">
</head>
<body>
    <button class="action-button"> 
        <a class="action-button-link" href="{{ url_for('home') }}">Back</a>
    </button>
    <button class="action-button save-js"> Save </button>
    <div class="header"> 
        <h4>{{ room_name }}</h4>
    </div>
    <h2>id: {{ room_id }}</h2>
    <button class="add-post-button add-post-js">+</button>
    <div class="post-spawn post-spawn-js" ondrop="drop(event)" ondragover="drag_over(event)"></div>

    <script>const roomId = "{{ room_id }}";</script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='room.js') }}"></script>   
    <script src="{{ url_for('static', filename='personalscript.js') }}"></script>
    <script src="{{ url_for('static', filename='save_room.js') }}"></script>

</body>
</html>