
* {
  border: 2px solid red;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
    position: relative;
}

.box {
    background: bisque;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 250px;
    height: 300px;
    cursor: move;

    display: flex;
    align-items: flex-end;
    word-break: break-all; /* wraps 'caption' text */
}

.header {
    background: lightcoral;
    padding: 20px;
    
    display: flex;
    justify-content: center;
}

.caption {
    display: block;
    margin: 5px;
    max-height: 60px;
    overflow: scroll; /* scroll for more text space */
}
