
* {
  border: 2px solid red;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
    position: relative;
}

.box {
    background: bisque;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 250px;
    height: 325px;
    cursor: move;

    display: flex;
    align-items: flex-end;
    word-break: break-all; /* wraps 'caption' text */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: white;
}

.image img { /* specifically for images inside class image */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image input[type="file"] { /* aligns input to fit */
    display: flex;
    align-content: center; 
    width: 100%;
    height: 100%;
}

.caption {
    display: block;
    margin: 5px;
    max-height: 60px;
    overflow: scroll; /* scroll for more text space */
}

.month {
    background: lightcoral;
    padding: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 300px;
    height: 100px;
    font-size: 50px;
}

.date, .name {
    background: lavender;
    font-size: 15px;
    margin-top: 3px;
}

.header {
    display: flex;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    float: right;
}

.action-button {
    background: lightcoral;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    cursor: pointer;
}

.action-button-link {
    text-decoration: none;
    color: black;
}