
* {
  border: 2px solid red;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
    position: relative;
}

.box {
    background: bisque;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 300px;
    height: 300px;
    cursor: move;

    display: flex;
    align-items: flex-end;
}

.header {
    background: lightcoral;
    padding: 20px;
    
    display: flex;
    justify-content: center;
}

.caption {
    display: flex;
    justify-content: center;
    margin: 5px;
}
