
/* * {
  border: 2px solid red;
} */

html, body {
    margin: 0;
    height: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #3D1729;
    position: relative;

    background-color: #f5f3ff;
    background-image: radial-gradient(#c4b5fd 1px, transparent 1px);
    background-size: 24px 24px;
}

.box {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 250px;
    height: 325px;
    cursor: move;

    display: flex;
    align-items: flex-end;
    word-break: break-all; /* wraps 'caption' text */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 14px; /* bezel corners */
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    background: linear-gradient(
        135deg,
        #9cb8cd,
        rgb(106, 98, 157)
    );
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: scale(1.05); /* gently grows */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* adds depth */
}


.image {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: #F3EDF8;
}

.image img { /* specifically for images inside class image */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image input[type="file"] { /* aligns input to fit */
    display: flex;
    align-content: center; 
    width: 100%;
    height: 100%;
}

.caption {
    display: block;
    margin: 5px;
    max-height: 60px;
    overflow: scroll; /* scroll for more text space */
    color: #462E78;
}

.header {
    background: #C2DBF0;
    padding: 20px 40px;

    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.date, .name {
    background: lavender;
    font-size: 15px;
    margin-top: 5px; 
    color: #572851;
}

button {
    float: right;
    border-radius: 14px;
}

.action-button {
    background: #f0cbc2;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    cursor: pointer;
}

.action-button-link {
    text-decoration: none;
    color: black;
}

.add-post-button {
    background-color: #db9494;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 6px;
}

.post-spawn {
    border: solid red 1px;
    height: 1500px;
    width: 100%;
}