body {
    height: 800px;
    /*

    */
    background-color:rgb(255, 225, 155);
    border: rgb(44, 21, 2) solid 20px;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.add-room-button {
    background-color: #2c84e2;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 6px;
}

.enter-room-button {
    background-color: #2c84e2;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 6px;
}

.add-room-header {
    font-size: 22px;
    margin-top: 20px;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 1300px;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;

}

.room-input {
    height: 25px;
    width: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.choice-room-container {
    border: solid black 4px;
    border-radius: 5;
    margin: 10px 10px;
    padding: 30px 30px;
    display: grid;
}

.room-form {
    display: flex;
    align-items: center; 
    gap: 5px; 
}

.flash-message {
    color: red;
    margin-bottom: 10px;

}
